.sidebarContainer{
    background-color: rgb(245, 255, 254);
    height: 100%;
    border-right: 1px solid rgba(109, 109, 109, 0.199);
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    transition: max-width 1s ease, padding 1s ease;
    padding-left: 20px;
}

.sidebarOpen{
    max-width: 320px;
}

/* SIDEBAR CLOSED GERAL */
.sidebarClosed{
    max-width: 120px;
}

@media(max-width: 1000px){
    .sidebarContainer{
        position: absolute;
        padding: 0;
        padding-left: 15px;
    }
    .sidebarOpen{
        max-width: 100%;
    }
    .sidebarClosed{
        max-width: 0px;
    }
}




